# --- Jupyter ---
.ipynb_checkpoints/
**/.ipynb_checkpoints/

dist/
smew.egg-info/

# --- Python ---
__pycache__/
*.py[cod]
*.pyo

# --- Temporary files ---
*.tmp
*.temp
*.swp
*.bak
*~

# --- OS / Editor junk ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Logs ---
*.log

# –– doc files –––
docs/

# --- images --- avoid committing large images
*.png
*.jpg
*.jpeg